.p-top {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.p-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.p-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.p-card-body {
    display: flex;
    flex-direction: column;
}
.card-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    gap: 1rem;
}

.p-button a {
    text-decoration: none;
    color: white;
}

.p-button:hover > a {
    color: #FFA601;
}