.p-container {
    padding: 0 3rem;

}
.p-top {
    display: flex;
    margin-bottom: 1rem;
    text-align: center;
}

.p-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.p-bottom {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 25%;
    margin: 1rem 2rem;
}

.p-card-body {
    display: flex;
    flex-direction: column;
}
.card-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    gap: 1rem;
}

.p-button a {
    text-decoration: none;
    color: white;
}

.p-button:hover > a {
    color: #FFA601;
}

@media screen and (max-width: 890px) {
    .p-container {
        margin-top: 6rem;
    }
    .p-bottom {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 75%;
        margin-bottom: 20px;
    }
  }

@media screen and (max-width: 720px) {
    .p-container {
        height: 100%;
        margin-top: 20px;
        border-bottom: 1px solid #00800044;

    }
    .card {
        width: 100%;
        margin: 1rem 0;
    }
    
}