.h-container {
    display: flex;
    height: 55vh;
    margin-top: 6rem;
  }
  
 
  .h-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
  }
  .h-name {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .h-name > :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
  }
  .h-name > :nth-child(2) {
    color: green;
    font-weight: bold;
    font-size: 3rem;
  }
  .h-name > :nth-child(3) {
    font-weight: 100;
    font-size: 14px;
    color: var(--gray);
    margin-top: 10px;
  }
  .h-button {
    width: 12rem;
    height: 2rem;
  }
  .h-icons {
    margin-top: 3rem;
    display: flex;
    gap: 0rem;
  }
  .h-icons > * {
    transform: scale(0.5);
  }
  .h-icons > *:hover {
    cursor: pointer;
  }
  .h-right img {
    height: auto;
    width: 25rem;
    border-radius: 40px;
  }

  /* .blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top: 20%;
    left: 56%;
    filter: blur(72px);
  } */