.h-container {
    display: flex;
    height: 90vh;
    margin-top: 20px;
  }
  
 
  .h-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }
  .h-name {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .h-name > :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
  }
  .h-name > :nth-child(2) {
    color: green;
    font-weight: bold;
    font-size: 3rem;
  }
  .h-name > :nth-child(3) {
    font-weight: 100;
    font-size: 14px;
    color: var(--gray);
    margin-top: 10px;
  }
  .h-button {
    width: 14rem;
  }
  .h-icons {
    margin-top: 3rem;
    display: flex;
   
  }
  .h-icons > * {
    transform: scale(0.5);
    height: 100px;
  }
  .h-icons > *:hover {
    cursor: pointer;
  }
  .h-left {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  .h-left img {
    height: 40rem;
    width: auto;
    border-radius: 40px;
  }

  /* .blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top: 20%;
    left: 56%;
    filter: blur(72px);
  } */

  @media screen and (max-width: 890px) {
    .h-right {
      margin-left: 30px;
    }
    .h-left img {
      height: 30rem;
      width: auto;
    }
  }

  @media screen and (max-width: 720px){
    .h-container{
      flex-direction: column;
      height: 100%;
      margin-top: 0;
    }
    .h-left {
      margin-top: 20px;
    }
    .h-left img {
      height: 18rem;
      width: auto;
    }
    .h-right {
      margin: 20px 0;
      text-align: center;
      gap: 1rem;
    }
    .h-name {
      gap: 0;
    }
    .h-icons {
      justify-content: center;
      margin-top: 0;
    }
  }