.c-container {
    display: flex;
    margin: 8rem 0 3rem 0;
}

.c-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 4rem;
}

.c-left div {
    text-align: center;
    font-weight: bold;
}
.c-word {
    color: green;
}

.c-right {
    flex: 1;
}

.c-card {
    border-color: rgba(254, 254, 254, 0);
    width: 80%;
}
.c-name, .c-email {
    border: 2px solid green;
}
.c-message {
    height: 250px !important;
    border: 2px solid green;
}
.button-cont{
    display: flex;
    justify-content: center;
}  

@media screen and (max-width: 890px) {
     .c-container {
        margin: 6rem 0 3rem 0;
        flex-direction: column;
        align-items: center;
    }
    .c-form {
        width: 80%;
        height: auto;
    }
    
  }

  @media screen and (max-width: 720px) {
    .c-container {
        margin-top: 20px;
    }
    .c-card {
        width: 350px;
    }
  }