
.navbar-container {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    background-color: #00800015;
}

.navbar-left {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 2rem;
    padding-left: 20px;
}

.navbar-name {
    font-size: 1.8rem;
    font-weight: 550;
}

.navbar-right {
    display: flex;
   
    align-items: center;
    justify-content: flex-end;
}

.navbar-list {
    font-size: 1.2rem;
    padding-top: 1.1rem;
    text-decoration: none;
}

.navbar-list ul {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    list-style-type: none;
}

.navbar-list ul li:hover {
    cursor: pointer;
    color: #FFA601;
}

@media screen and (max-width: 600px) {
    .navbar-list ul{
        padding-left: 0;
    }
}
@media screen and (max-width: 720px) {
    .navbar-container{
        flex-direction: column;
        height: 40%;
    }
    .navbar-left {
      border-bottom: 1px solid #00800044;
      padding-bottom: 5px;
    }
    .navbar-right {
        justify-content: center;
    }
   
    .navbar-list {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .navbar-list ul{
        display: flex;
        align-items: center;
        margin-right: 0;
        padding-left: 0;
        gap: 1rem;
    }
}