.about-me {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem 0 3rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
}
.about-me-top {
    display: flex;
}
.about-me-left {
    display: flex;
    flex-direction: column;
}
.about-me-left > :nth-child(1) {
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
}

.about-me-left > :nth-child(2) {
    color: green;
    font-size: 2.5rem;
    font-weight: bold;
}
.check {
    font-size: 1.2rem;
}
.resume-button {
    margin-top: 1rem;
    width: 18rem;
}
.resume-button a {
    text-decoration: none;
    color: white;
}
.resume-button:hover > a{
    color: #FFA601;
}

.about-me-right {
    font-size: 20px;
    margin-left: 2rem;
    padding: 1rem 26px 1rem 26px;
    background-color: #ffffff00;
    width: 75% !important;
}

.about-me-bot {
    font-size: larger;
    text-align: center;
    margin-top: 2rem;
}

.guided-text {
   margin-bottom: 2rem;
}

@media screen and (max-width: 890px) {
    .about-me {
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        margin-top: 0;
    }
    .about-me-left {
        text-align: center;
        margin-bottom: 20px;
    }
    .about-me-right {
        padding: 20px;
        margin: 0;
    }
}

@media screen and (max-width: 720px) {
    .about-me {
        padding: 0;
        height: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
        border-bottom: 1px solid #00800044;
        
    }
    .about-me-right {
        width: 350px !important;
    }
}